/* You can add global styles to this file, and also import other style files */


body {
  font-family: salesforce-sans,"Helvetica Neue",helvetica,arial,sans-serif;
  min-width: 320px;
  min-height: 100vH;
  padding-top: 50px;
  background: 0 0;
}

body {
  font-size: 14px;
  line-height: 1.42857;
  color: #3F3F44;
}
.img-thumbnail, body {
  background-color: #fff;
}
body, figure {
  margin: 0;
}